@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  width: 80%;
  margin: auto;
  max-width: 1200px;
}
.logo {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.logo h1 {
  float: left;
  color: #333;
  font-size: 20px;
  margin-top: 23px;
}

.logo img {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-right: 10px;
}
.list {
  float: right;
  margin-right: 120px;
}
.list li {
  float: right;
  list-style: none;
  margin: 0;
  padding: 10px;
  margin-top: 25px;
  float: left;
  margin-left: 30px;
}

.list li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: 0.5s;
}
.list li a:hover {
  color: #ff3f3f;
}

.container-content {
  clear: both;
  width: 100%;
  margin-top: 200px;
  /* background-color: aqua; */
  height: 400px;
}

.content {
  width: 55%;
  float: left;
}
.content h2 {
  font-size: 80px;
  margin-bottom: 15px;
  float: left;
  margin-left: 190px;
}

.content p {
  font-size: 16px;
  margin-bottom: 25px;
  float: left;
  margin-left: 190px;
}

.content .btn {
  display: inline;
  margin-left: 175px;
  float: left;
  margin-top: 10px;
}
.btn .btn-1 {
  background-color: #ff4400;
  margin: 15px;
  padding: 10px 20px;
  color: white;
  border-radius: 2px;
  border: none;
  transition: 0.5s;
  font-size: 16px;
  cursor: pointer;
}
.btn .btn-2 {
  background-color: black;
  color: white;
  margin: 10px;
  color: white;
  padding: 10px 20px;
  color: white;
  border-radius: 2px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  font-size: 16px;
}
.btn-1:hover {
  background-color: #ff3f3f;
  scale: 1.1;
}
.btn-2:hover {
  background-color: #333;
  scale: 1.1;
}
.image {
  display: inline;
  float: right;
  width: 45%;
}
.image img {
  width: 95%;
  float: right;
  margin-right: 30px;
  margin-bottom: 150px;
}

.our-service {
  margin-top: 0px;
  height: 750px;
  width: 100%;
  /* background-color: aqua; */
  clear: both;
}
.service-content {
  text-align: center;
  margin-bottom: 30px;
}
.service-content h3 {
  font-size: 45px;
}
.card-collection {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  margin-left: 20px;
}
.card1 {
  display: inline;
  float: left;
  width: 31%;
  height: 380px;
  margin: 0px 10px 30px 10px;
  /* background-color: #ff3f3f; */
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
  cursor: pointer;
  padding: 30px;
}
.card1:hover {
  border-color: #ff3f3f;
  border-top: 10px solid #ff3f3f;
}
.card1 img,
.card1 h4 {
  padding-bottom: 25px;
}
.card1 h4 {
  color: #ff4400;
  font-size: 25px;
  font-weight: 400;
}
.service-btn {
  text-align: center;
  margin-top: 50px;
}
.service-btn {
  background-color: black;
  margin: 15px;
  padding: 10px 30px;
  color: white;
  border-radius: 2px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.service-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.span-btn {
  margin-left: 45%;
}

.fresh-fruit {
  width: 100%;
  height: 900px;
  clear: both;
  /* background-color: aqua; */
  margin-top: 50px;
}
.fresh-content {
  margin-bottom: 30px;
  text-align: center;
}
.fresh-content h3 {
  font-size: 45px;
}

.fruit-section {
  float: left;
  width: 50%;
  margin-left: 190px;
  margin-top: 120px;
}
.fruit-section h4 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: lighter;
}
.fruit-section p {
  font-size: 16px;
  margin-bottom: 25px;
}
.fruit-btn {
  background-color: black;
  margin-top: 20px;
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.fruit-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.fruit-image {
  float: right;
  margin-right: 150px;
  margin-top: 100px;
}
.photo {
  position: relative;
  z-index: -1;
}
.photo img {
  width: 100%;
  margin-top: 110px;
}
.photo h4 {
  position: absolute;
  text-align: center;
  margin-top: 0;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  font-size: 125px;
  text-transform: uppercase;
}
.testimonial {
  width: 100%;
  height: 900px;
  clear: both;
  /* background-color: aqua; */
  margin-top: 100px;
}

.testimonial-content h3 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 45px;
}
.testimonial-content p {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial-image {
  text-align: center;
  margin-top: 80px;
}

.testimonial-description {
  text-align: center;
  width: 80%;
  margin: auto;
}

.testimonial-description h4 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 400;
}
.contact-form {
  width: 100%;
  height: 500px;
  clear: both;
  /* background-color: aqua; */
  /* margin-top: 100px; */
}
.contact-content {
  float: left;
  margin-top: 100px;
  margin-left: 100px;
  width: 50%;
}
.contact-content h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.contact-content form {
  margin-top: 30px;
  width: 100%;
}
.contact-content input {
  display: block;
  width: 100%;
  padding: 15px 5px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid gray;
}
#input-area {
  padding-top: 80px;
}
.contact-content input:focus {
  border-bottom: 2px solid #393938;
}

.contact-content textarea:focus {
  border-bottom: 2px solid #393938;
}
.contact-btn {
  background-color: rgb(238, 52, 5);
  margin: 25px 100px 25px 0px;
  padding: 10px 40px;
  color: white;
  border-radius: 2px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.contact-btn:hover {
  border-color: #ff3f3f;
  background-color: #ff3f3f;
  color: white;
  scale: 1.1;
  transition: 0.5s;
}
.contact-image {
  float: right;
  margin-right: 0px;
  margin-top: 90px;
}
.footer {
  width: 100%;
  height: 500px;
  clear: both;
  margin-top: 100px;
  /* background-color: aqua; */
  text-align: center;
  padding-top: 100px;
}
.foot {
  width: 9%;
  height: 300px;
  float: left;
  margin-left: 120px;
  margin-right: 100px;
  text-align: left;
}
.foot h4 {
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 10px;
}
.foot p {
  font-size: 16px;
}
.foot ul {
  list-style: none;
  margin-right: 50px;
  width: 190px;
}
.foot ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.foot ul li a img {
  text-decoration: none;
  color: white;
  width: 27px;
}

.subscribe {
  width: 190px;
}

.foot input[type="text"] {
  height: 30px;
  width: 210px;
}

.subscribe-btn {
  background-color: #ff4400;
  margin: 15px 0px;
  padding: 10px 30px;
  color: white;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.subscribe-btn:hover {
  border-color: #ff3f3f;
  background-color: #ff3f3f;
  color: white;
  scale: 1.1;
  transition: 0.5s;
}
footer {
  width: 100%;
  background-color: #cecbcb;
  text-align: center;
  padding: 20px;
  color: black;
}
